# Archivos de Sistema Operativo
.DS_Store
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencias
/backend/node_modules/
/frontend/node_modules/

# Variables de Entorno
/.env
*.env
*.env.local
.env.test

# Archivos de Build y Producción
/backend/dist/
/frontend/dist/
/frontend/out/


# TypeScript Cache
*.tsbuildinfo

# Opcional: Cache de ides
.vscode/
.idea/